.git
.gitignore
.dockerignore
Dockerfile

target
build
out
*.class

.env
.env.*
!.env.prod.example
!.env.test-ec2.example

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

.idea
.vscode
.settings
.classpath
.project
.apt_generated
.factorypath
.springBeans
.sts4-cache

node_modules
npm-debug.log
yarn-error.log

.mvn/wrapper/maven-wrapper.jar
